## FakePersonality 

A tool to classify Twitter users, vulnerable to misinformation, based on their [_Personality Traits_](https://www.simplypsychology.org/big-five-personality.html) and [_Basic Human Values_](https://i2s.anu.edu.au/resources/schwartz-theory-basic-values).

Scores are measured using Natural Language Processing approaches on the basis of our previous research: [1](https://dl.acm.org/doi/10.1145/3341105.3373954) and [2](https://www.mdpi.com/2078-2489/11/4/179).

[Dataset paper](https://arxiv.org/pdf/2006.00885.pdf)
[Dataset Repo](https://github.com/cuilimeng/CoAID)
_This code is written in python >3.7*.__

In [1]:
import pandas as pd
claim_fake_tweets_df = pd.read_csv("../CoAID/ClaimFakeCOVID-19_tweets.csv")
claim_fake_tweets_df.head()

    index             tweet_id
0  100001  1252630938770649089
1  100001  1243968198111789058
2  100001  1242474839966765056
3  100001  1242461115616866304
4  100001  1242400142335983619

In [5]:
claim_fake_tweets_df.shape

(457, 2)

In [8]:
claim_fake_replies_df = pd.read_csv("../CoAID/ClaimFakeCOVID-19_tweets_replies.csv")
claim_fake_replies_df.head()

   news_id             tweet_id             reply_id
0   100001  1242474839966765056  1242474835512446976
1   100001  1242474839966765056  1242474843137703938
2   100001  1242400142335983619  1242388627943878657
3   100001  1242400142335983619  1242400453700096001
4   100003  1248606541793488896  1248609022841729028

In [9]:
claim_fake_replies_df.shape

(623, 3)